@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.openlayers{
  height: 100%;
  display: flex;
  flex-direction: column;
}

.navbar {
  margin-bottom: 0;
}

.content {
  flex: 1;
  display: flex;
}

#map {
  height: 100%;
  width: 100%;
}

